<form (ngSubmit) = "newReimbursement()">
    <div class="form-group">
      <label for="InputDescription">Description</label>
      <input type="description" class="form-control" id="InputDescription" aria-describedby="descriptionHelp" name = "description" [(ngModel)]="reimbCredential.description" placeholder="Please Describe Your Request">
      <small id="descriptionHelp" class="form-text text-muted">Why do you need this reimbursement?</small>
    </div>
    <div class="form-group">
      <label for="InputAmount">Amount</label>
      <input type="number" class="form-control" id="InputAmount" aria-describedby="amountHelp" name = "amount" [(ngModel)]="reimbCredential.amount" placeholder="0.0">
      <small id="amountHelp" class="form-text text-muted">What did the damages cost you?</small>
    </div>
    <label>Nature of the Reimbursement Request:</label>
    <select class="form-control form-control-lg" [(ngModel)]="reimbCredential.type" name = "typeselector">
        <option [ngValue]="'Lodging'">Lodging</option>
        <option [ngValue]="'Travel'">Travel</option>
        <option [ngValue]="'Food'">Food</option>
        <option [ngValue]="'Other'">Other</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>