<div>
  <h1 class="header">B.E.E.R.</h1>
  <form class="login-form" (ngSubmit)="login()">
    <div class="login-input">
      <div class="input-group">
        <!-- <span class="input-group-addon">
      <i class="glyphicon glyphicon-user"></i>
    </span> -->
        <input class="login-form" type="text" name="username" [(ngModel)]="credentials.username" placeholder="username">
      </div>
      <div class="input-group">
        <!-- <span class="input-group-addon">
      <i class="glyphicon glyphicon-lock"></i>
    </span> -->
        <input class="login-form" login-form type="password" name="password" [(ngModel)]="credentials.password" placeholde="password">
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>